@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@layer base {
  html {
    font-family: "Lato", sans-serif;
  }
}

@layer components {
  .linkHover {
    @apply hover:text-yellow-500 transition ease-in-out duration-300;
  }

  .icon {
    @apply h-11 w-11 flex justify-center items-center rounded-full cursor-pointer hover:text-white hover:bg-white hover:bg-opacity-10 transition ease-in-out duration-300;
  }

  .golden {
    @apply text-transparent bg-clip-text bg-gradient-to-br from-yellow-300 to-yellow-500;
  }

  .description h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 0.25rem;
    font: bolder;
    font-weight: 700;
    color: white;
  }

  .description p {
    padding-bottom: 0.75rem;
  }

  .description a {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to bottom right, #fde047, #eab308);
    font-weight: 600;
  }
}
